.Rproj.user
.Rhistory
.RData
.Ruserdata
*.rds
*.fasta
*.Rproj
*.fa
*.csv
*.png
*.gz
*.gephi
*.RData
*.gexf
*.tiff
*.svg
*.txt
*.docx
*.pdf
*.odt
*.zip
*.jpeg
*.jpg
data_analysis.R
!Fig1_substrate_differences.jpeg
!LICENSE.txt
!02_Data.zip
Data
Figures_jpg/Fig1_substrate_differences.jpeg
