.Rproj.user
.Rhistory
.RData
.Ruserdata
*.rds
*.fasta
*.Rproj
*.fa
*.csv
*.png
*.gz
*.gephi
*.RData
*.gexf
*.tiff
*.svg
.txt
*.docx
*.pdf
*.odt
*.zip
*.jpeg
*.jpg
data_analysis.R
new_numbers.txt
!Fig1_substrate_differences.jpeg
Figures_jpg/Fig1_substrate_differences.jpeg
